{  CIDER: {    dependencies: {      nuget: "",      tatin: "packages",    },    dependencies_dev: {      tatin: "packages_dev=TestCases",    },    distributionFolder: "Dist",    init: "",    make: "Admin.Make 1",    parent: "#",    projectSpace: "DotNetZip",    project_url: "https://github.com/aplteam/DotNetZip",    source: "APLSource",    tests: "TestCases.RunTests",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {  },}
