<tool name="DotNetZip">  <version>0.9.0</version>  <date>2020-09-12</date>  <container>#.DotNetZip</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script development="true">Tester2</script>  </needs>  <autoload>1</autoload>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Zipping and unzipping with.NET Core on all major platforms</desc>  <tags>zip-tools;windows;mac-os;linux</tags>  <buildid>39</buildid>  <lx>#.DotNetZip.FilesAndDirs.PolishCurrentDir</lx></tool>