<tool name="DotNetZip">  <version>0.5.0</version>  <date>2020-05-09</date>  <container>#.DotNetZip</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>Tester2</script>  </needs>  <autoload>1</autoload>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Zipping and unzipping with.NET Core on all major platforms</desc>  <tags>zip-tools</tags>  <license>MIT</license>  <buildid>8</buildid></tool>