<tool name="DotNetZip">  <version>1.0.0</version>  <date>2020-09-21</date>  <container>#.DotNetZip</container>  <needs>    <script>APLTreeUtils2</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>  </needs>  <autoload>1</autoload>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Zipping and unzipping with.NET Core on all major platforms</desc>  <tags>apltree;zip-tools;windows;mac-os;linux</tags>  <buildid>49</buildid>  <lx>#.DotNetZip.FilesAndDirs.PolishCurrentDir</lx></tool>
